HTML {
    font-size: 62.5%;
}

.App-title {
    font-size: 2rem;
}

.App {
    display: grid;
    grid-template-columns: minmax(50px, 100px) auto;
    grid-template-rows: 1fr;
    grid-template-areas: 'header map';
    text-align: center;
}

.App-logo {
    filter: brightness(10);
    height: 2rem;
    padding: 3rem;
}

.App-header {
    font-family: 'Montserrat', sans-serif;
    grid-area: header;
    background-color: #296533;
    padding: 0.5rem;
    color: white;
}

.Map {
    grid-area: map;
}